</!DOCTYPE html>
<html>
<head>
  <title>Viewer</title>
  <link rel="stylesheet" href="{{ style_css_url }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <style type="text/css">
    #mapid {
      z-index: 0;
    }
    #picker {
      background: rgba(0,0,0, .5);
      padding: 5px;
      border-radius: 5px;
      color: white;
      position: absolute;
      z-index: 1;
    }
   </style>
</head>
<body>
  <div id="picker">hi</div>
  <div id="mapid"></div>

  <script>
    var map = L.map('mapid', {
      crs: L.CRS.EPSG4326
    }).setView(
        [{{ y_center }}, {{ x_center }}], 3);
    var wms_layer = L.tileLayer.wms(
      '{{ geoserver_url }}', {
      layers: '{{ catalog }}:{{ asset_id }}',
      format: 'image/png'
    });
    wms_layer.addTo(map);
    var picker = document.getElementById('picker');
    var querying_server = false;
    map.on("mousemove", function(e) {
      if (querying_server) {
        return
      }
      querying_server = true;
      picker.innerHTML = 'querying...';
      picker.style.background = "rgba(0.0,0,40, .5)";
      let xhr = new XMLHttpRequest();
      xhr.responseType = 'json';
      xhr.open(
        'POST',
        '{{ pixel_pick_url }}');
      xhr.setRequestHeader("Content-Type", "text/plain; charset=utf-8");
      xhr.timeout = 5000;

      xhr.onerror = function(e) { // only triggers if the request couldn't be made at all
        console.log("bad xhr error, picker failed " + e);
        picker.innerHTML += '...failed';
        picker.innerHTML += `.Error ${xhr.status}: ${xhr.statusText}`;
        querying_server = false;
      };
      xhr.ontimeout = function() {
        picker.innerHTML += '...timeout';
        querying_server = false;
      }

      xhr.onload = function() {
        if (xhr.status != 200) {
          picker.innerHTML += `.Error ${xhr.status}: ${xhr.statusText}`;
        } else {
          let val = xhr.response['val'];
          let x_coord = xhr.response['x'];
          let y_coord = xhr.response['y'];
          picker.innerHTML = (
            'val: ' + val + "<br/>" +
            'raster coord: (' + x_coord + ', ' + y_coord + ')<br/>' +
            'lat/lng: (' + e.latlng + ')');
          picker.style.background = "rgba(0.0,128,0, .5)";
        }
        querying_server = false;
      };

      xhr.send(JSON.stringify({
        "catalog": "{{ catalog }}",
        "asset_id": "{{ asset_id }}",
        "lng": e.latlng.lng,
        "lat": e.latlng.lat
      }));


    });

    document.addEventListener("mousemove", function(e) {
      picker.style.left = e.clientX+"px";
      picker.style.top = 20+e.clientY+"px";
    });

  </script>
</body>
</html>
