</!DOCTYPE html>
<html>
<head>
  <title>Viewer</title>
  <link rel="stylesheet" href="{{ style_css_url }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <style type="text/css">
    #mapid {
      z-index: 0;
    }
    #picker {
      background: rgba(0,0,0, .5);
      padding: 5px;
      border-radius: 5px;
      color: white;
      position: absolute;
      z-index: 2;
    }
    #style-control {
      background: rgba(0,0,0, .5);
      padding: 5px;
      border-radius: 5px;
      color: white;
      position: absolute;
      height: auto;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      padding: 5px;
      grid-gap: 5px;
    }

   </style>
</head>
<body>
  <div id="picker"></div>
  <div id="style-control">
    <div class="grid-container">
      <div><input id="min" oninput="style_changed()"></div>
      <div><label for="min")>min (original {{ p0 }}</label></div>
      <div><input id="max" oninput="style_changed()"></div>
      <div><label for="max")>max (original {{ p100 }}</label></div>
      <div><label for="style")>style (original {{ original_style }}</label></div>
      <div><input id="style" oninput="style_changed()"></div>
    </div>
  </div>
  <div id="mapid"></div>

  <script>
    var p0 = {{ p0 }};
    var p100 = {{ p100 }};
    var p2 = p0 + (p100-p0)*0.02;
    var p98 = p0 + (p100-p0)*0.98;
    var edit_timeout = null;

    document.getElementById("min").value = p0;
    document.getElementById("max").value = p100;
    document.getElementById("style").value = "{{ original_style }}";

    function style_changed() {
      if (edit_timeout != null) {
        clearTimeout(edit_timeout);
      }
      edit_timeout = setTimeout(
        function () {
          update_style();
          edit_timeout = null;
        }, 1000);
      let style_control = document.getElementById("style-control");
      style_control.style.background = "rgba(153, 51, 51, .5)";
    }

    function update_style() {
      let parsed_min = parseFloat(document.getElementById("min").value);
      let parsed_max = parseFloat(document.getElementById("max").value);

      if(isNaN(parsed_min) || isNaN(parsed_max)) {
          return;
      }
      if (parsed_min > parsed_max) {
        return;
      }

      p0 = parsed_min;
      p100 = parsed_max;
      p2 = p0 + (p100-p0)*0.02;
      p98 = p0 + (p100-p0)*0.98;
      p50 = parsed_max+parsed_min;

      let raster_style = document.getElementById("style").value;
      wms_layer.setParams({
        ENV: "min:"+p0+";max:"+p100+";p2:"+p2+";p98:"+p98+";p50:"+p50,
        styles: raster_style
      });

      let style_control = document.getElementById("style-control");
      style_control.style.background = "rgba(0, 0, 0, .5)";
    }

    var map = L.map("mapid", {
      crs: L.CRS.EPSG4326
    }).setView(
        [{{ y_center }}, {{ x_center }}], 3);
    var wms_layer = L.tileLayer.wms(
      "{{ geoserver_url }}", {
      layers: "{{ catalog }}:{{ asset_id }}",
      format: "image/png",
      styles: "{{ original_style }}",
      ENV: "min:"+p0+";max:"+p100+";p2:"+p2+";p98:"+p98
    });
    wms_layer.addTo(map);

    var mousestop_timeout = null;
    var previous_latlng = null;

    // set a timeout to see if the pointer stopped moving, if so, pick the
    // point at the cursor
    function pick_point(lng, lat) {
      let xhr = new XMLHttpRequest();
      xhr.responseType = "json";
      xhr.open(
        "POST",
        "{{ pixel_pick_url }}");
      xhr.setRequestHeader("Content-Type", "text/plain; charset=utf-8");
      xhr.timeout = 5000;

      // only triggers if the request couldn"t be made at all
      xhr.onerror = function(e) {
        console.log("bad xhr error, picker failed " + e);
        picker.innerHTML += "...failed";
        picker.innerHTML += `.Error ${xhr.status}: ${xhr.statusText}`;
      };
      xhr.ontimeout = function() {
        picker.innerHTML += "...timeout";
      }

      xhr.onload = function() {
        if (xhr.status != 200) {
          picker.innerHTML += `.Error ${xhr.status}: ${xhr.statusText}`;
        } else {
          let val = xhr.response["val"];
          let x_coord = xhr.response["x"];
          let y_coord = xhr.response["y"];
          picker.innerHTML = (
            "val: " + val + "<br/>" +
            "raster coord: (" + x_coord + ", " + y_coord + ")<br/>" +
            "lat/lng: (" + lat + ", " + lng + ")");
          picker.style.background = "rgba(0.0,128,0, .5)";
        }
      };

      xhr.send(JSON.stringify({
        "catalog": "{{ catalog }}",
        "asset_id": "{{ asset_id }}",
        "lng": lng,
        "lat": lat
      }));
    }

    map.on("mousemove", function(e) {
      let cur_latlng = e.latlng;
      if (previous_latlng == cur_latlng) {
        // the timeout will trigger it
        return;
      }
      previous_latlng = cur_latlng;

      picker.innerHTML = "querying...";
      picker.style.background = "rgba(153, 51, 51, .5)";

      if (mousestop_timeout != null) {
        clearTimeout(mousestop_timeout);
      }

      // pick the point in 100ms, this can get disrupted if the mouse moves
      // otherwise we know it was sampled there
      mousestop_timeout = setTimeout(
        function () {
          pick_point(cur_latlng.lng, cur_latlng.lat);
          mousestop_timeout = null;
        }, 200);
    });

    // move the picker window around with the mouse
    var picker = document.getElementById("picker");
    document.addEventListener("mousemove", function(e) {
      picker.style.left = e.clientX+"px";
      picker.style.top = 20+e.clientY+"px";
    });

  </script>
</body>
</html>
